<div class="four columns">
  <%= f.field_container :title do %>
      <%= f.label :title, t(".title") %>
      <br/>
      <%= f.text_field :title %>
  <% end %>
</div>

<div class="four columns">
  <%= f.field_container :email do %>
      <%= f.label :email, t(".email") %>
      <br/>
      <%= f.text_field :email %>
  <% end %>
</div>