<% content_for :page_title do %>
    <%= Spree.t("spree.contacts.index.title") %>
<% end %>

<% content_for :page_actions do %>
    <li><%= button_link_to Spree.t(:go_to_topics_list), admin_topics_url, :icon => 'icon-arrow-right' %></li>
    <li id="new_topic_link">
      <%= button_link_to Spree.t(:new_topic), new_object_url, {:remote => true, :icon => 'icon-plus', :id => 'admin_new_topic'} %>
    </li>
<% end %>

<div id="new_topic" data-hook></div>

<table class="index">
  <colgroup>
    <col style="width: 23%" />
    <col style="width: 23%" />
    <col style="width: 23%" />
    <col style="width: 23%" />
    <col style="width: 10%" />
  </colgroup>
  <thead>
  <tr>
    <th><%= Spree.t("name") %></th>
    <th><%= Spree.t("email") %></th>
    <th><%= Spree.t("topic") %></th>
    <th><%= Spree.t("sent") %></th>
    <th class="actions"></th>
  </tr>
  </thead>
  <tbody>
  <% @collection.each do |contact| %>
      <tr class="<%= cycle('odd', 'even') %>" id="dom_id contact">
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.try(:topic).try(:title) %></td>
        <td><%= contact.created_at %></td>
        <td class="actions">
          <%= link_to_show contact, :no_text => true %>
          <%= link_to_delete contact, :no_text => true %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>